:root {
  /** Text color */
  --grey-invest-description: #6D6E71;
  --dark-grey-border: #3F3F3F;
  --gradient-grey: #7C7C7C;

  /** Font size */
  --font-size-semi-m: 13px;
  --font-size-67: 67px;
  --font-size-6xl: 60px;
  --font-size-10xl: 100px;
  --font-size-187: 187px;
  --font-size-199: 199px;
  --font-size-450: 450px;
  --font-size-600: 600px;

  /** Font weight */
  --font-weight-800: 800;
}


